

<div class="profile-container">

    <!-- En tete du profil -->
    <div class="profile-header">
        <img src="" alt="" srcset="">
        <h3>Photo</h3>
        <button class="deconnexion-button" (click)="deconnexion()">Déconnexion</button>
    </div>

    <!-- infos du profil -->
    <h3>Votre profil</h3>
    <div *ngIf="utilisateur">
    <ul class="profil-detail">
        <li>Nom : {{utilisateur.nom}}</li>
        <li>Prénom: {{utilisateur.prenom}}</li>
        <li>Pseudo: {{utilisateur.username}}</li>
        <!-- utilisation d'un pipe pour format de date -->
        <li>Date de création de compte: {{utilisateur.date | date: 'dd/MM/yyyy HH:mm'}}</li>

    </ul>
    </div>
    <button class="add" [routerLink]="['/ajout-technique']">Ajouter une technique de méditation</button>
    <hr>
    <app-journal></app-journal>
    <hr>
    <h3>Séances sélectionnées</h3>

    <div class="tech-list">
        <div *ngFor="let tech of monUnivers">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{tech.images}}">
                <div class="card-body">
                    <h5 class="title">{{tech.name}}</h5>
                    <p class="text">
                        Cette technique est la numéro {{tech.id}} du catalogue, elle est décrite comme :
                        {{tech.description}} Elle vous projettera dans un univers {{tech.ambiance}} pendant
                        {{tech.duration}}.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

