.connected {
    background-color: green;
    color: white;
    border: none;
    border-radius: 30px;
}

.disconnected {
    background-color: red;
    color: white;
    border: none;
    border-radius: 30px;
}
*{
    background-color: var(--bgcolor);

}
.navbar{
    padding: 0px;
}

.deconnexion-button{
    margin-left: 70%;
    border-radius: 20px;
    background-color: var(--dark-color);
    color: white;
    border-color: white;
}

