.connected {
    background-color: green;
    color: white;
    border: none;
    border-radius: 30px;
}

.disconnected {
    background-color: red;
    color: white;
    border: none;
    border-radius: 30px;
}
