<h3>Pas encore inscris ?</h3>
<h5>Formulaire d'inscription</h5>

<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
    <ul>
        <li>
            <label for="nom">Votre Nom :</label>
            <input type="text" id="nom" name="nom" class="form-control" formControlName="nom" required />
            <div *ngIf="inscriptionForm.get('nom')?.hasError('required') && inscriptionForm.get('nom')?.touched">
                Le nom est obligatoire.
            </div>
        </li>
        <li>
            <label for="prenom">Votre prénom :</label>
            <input type="text" id="prenom" name="utilisateur_prenom" class="form-control" formControlName="prenom"
                required />
            <div *ngIf="inscriptionForm.get('prenom')?.hasError('required') && inscriptionForm.get('prenom')?.touched">
                Le prénom est obligatoire.
            </div>
        </li>
        <li>
            <label for="username">Votre pseudo :</label>
            <input type="text" id="username" name="utilisateur_username" class="form-control" formControlName="username"
                required />
            <div
                *ngIf="inscriptionForm.get('username')?.hasError('unique') && inscriptionForm.get('username')?.touched">
                Le pseudo est obligatoire.
            </div>
        </li>
        <li>
            <label for="email">Votre émail :</label>
            <input type="email" id="email" name="utilisateur_email" class="form-control" formControlName="email"
                placeholder="cheminverslapaix@exemple.com" required />
            <div *ngIf="inscriptionForm.get('email')?.hasError('required') && inscriptionForm.get('email')?.touched">
                L'email est obligatoire.
            </div>
            <div *ngIf="inscriptionForm.get('email')?.hasError('email') && inscriptionForm.get('email')?.touched">
                L'email n'est pas au bon format.
            </div>
        </li>
        <li>
            <label for="mot_de_passe">Votre mot de passe :</label>
            <input type="password" id="mot_de_passe" name="utilisateur_mot_de_passe" class="form-control"
                formControlName="mot_de_passe" required />
            <div id="passwordHelpBlock" class="form-text">
                Votre mot de passe doit contenir entre 8-20 caractères.
            </div>
            <div
                *ngIf="inscriptionForm.get('mot_de_passe')?.hasError('required') && inscriptionForm.get('mot_de_passe')?.touched">
                Le mot de passe est obligatoire.
            </div>

        </li>
    </ul>

    <div class="button">
        <button type="submit" class="btn" [disabled]="!inscriptionForm.valid" (click)="openModal()">S'inscrire</button>
    </div>
</form>
