<div class="landing-page">
    <!-- <img src="/assets/launding3.jpg" alt="" srcset=""> -->
 
<div class="container">
    <h1>Découvrez le pouvoir transformateur de la méditation</h1>
    <p>Plongez dans une pratique qui a fait ses preuves pour réduire le stress, améliorer la concentration et favoriser
        un bien-être émotionnel profond. Rejoignez-nous pour un voyage intérieur inoubliable.</p>
</div>
<div class="tech">
    <div class="left-align">
    <h3>Créer vos propres techniques de méditation</h3>
            <ul><li>Découvrez le pouvoir transformateur de la méditation. Plongez dans une pratique qui a fait ses preuves pour réduire le
            stress, améliorer la concentration et favoriser un bien-être émotionnel profond. De nombreuses personnes trouvent
            également un sommeil plus réparateur, une meilleure conscience de soi et une patience accrue à travers leurs séances de
            méditation. En vous joignant à notre communauté, vous accéderez à des outils qui vous aideront non seulement à vivre ces
            avantages, mais également à créer une habitude durable pour une vie plus équilibrée et sereine.</li></ul>
    </div>   
       
        <div class="right-align">
            <h3>Les techniques proposé par méditeria</h3>
            <ul>
            <li *ngFor="let technique of techniques">{{ technique.name }}</li>
            </ul>
        </div>
</div>        
    
    
   
        <button class="btn"  [routerLink]="['/redirect']">Débutez votre transformation</button>
    
</div>
