<!-- <div class="container">
    <div class="row">
        <div class="col-md-4 article">
            
            <div class="row">
                <div class="col-md-10">
                    
                    <img src="/assets/science.jpg" alt="Article 1 Image" class="img-fluid">

                    
                    <h2 class="card-title">Les bienfaits scientifiquement prouvés de la méditation sur la santé mentale
                    </h2>
                    <p class="card-text">
                        La méditation est une pratique ancienne qui gagne en popularité en raison de ses nombreux
                        bienfaits pour la santé mentale.
                        Elle peut aider à réduire le stress, l'anxiété et la dépression, et favoriser un sentiment
                        général de bien-être.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 article">
            
            <div class="row">
                <div class="col-md-10">
                    
                    <img src="/assets/forme.jpg" alt="Article 2 Image" class="img-fluid">

                    
                    <h2 class="card-title">Les différentes formes de méditation et comment choisir celle qui vous
                        convient le mieux
                    </h2>
                    <p class="card-text">
                        La méditation se présente sous diverses formes, chacune ayant des objectifs et des techniques
                        spécifiques.
                        La méditation de pleine conscience, la méditation transcendantale, la méditation guidée et la
                        méditation en mouvement
                        (comme le yoga ou le tai-chi) sont quelques-unes des méthodes courantes.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 article">
            
            <div class="row">
                <div class="col-md-10">
                    
                    <img src="/assets/stress.jpg" alt="Article 3 Image" class="img-fluid">

                    
                    <h2 class="card-title">La méditation pour la gestion du stress en milieu professionnel
                    </h2>
                    <p class="card-text">
                        Le milieu professionnel peut être source de stress et de pression.
                        La méditation est un outil efficace pour aider les employés à faire face au stress en milieu
                        professionnel.
                        La pratique régulière de la méditation de pleine conscience peut améliorer la résilience,
                        réduire l'épuisement professionnel
                        et favoriser des relations positives avec les collègues.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 article">
                
                <div class="row">
                    <div class="col-md-10">
                        
                        <img src="/assets/physique.jpg" alt="Article 4 Image" class="img-fluid">

                       
                        <h2 class="card-title">La méditation et son impact positif sur la santé physique</h2>
                        <p class="card-text">
                            Outre ses bienfaits pour la santé mentale, la méditation peut également avoir un impact
                            positif
                            sur la santé physique.
                            Des études montrent que la méditation peut aider à réduire la tension artérielle, améliorer
                            le
                            système cardiovasculaire,
                            et renforcer le système immunitaire.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 article">
                
                <div class="row">
                    <div class="col-md-10">
                        
                        <img src="/assets/relation.jpg" alt="Article 5 Image" class="img-fluid">

                        
                        <h2 class="card-title">Comment la méditation peut améliorer vos relations interpersonnelles</h2>
                        <p class="card-text">
                            La méditation ne concerne pas seulement le bien-être individuel, mais peut également avoir
                            un
                            impact significatif sur les relations interpersonnelles.
                            La pratique régulière de la méditation de pleine conscience favorise une communication plus
                            efficace, une meilleure empathie,
                            et une compréhension mutuelle plus profonde avec les autres.
                    </div>
                </div>
            </div>
            <div class="col-md-4 article">
                
                <div class="row">
                    <div class="col-md-10">
                        
                        <img src="/assets/ecole.jpg" alt="Article 6 Image" class="img-fluid">

                        
                        <h2 class="card-title">La méditation pour les enfants : un outil pour favoriser la concentration
                            et
                            la gestion des émotions</h2>
                        <p class="card-text">
                            Les enfants et les adolescents peuvent également bénéficier de la méditation.
                            En enseignant aux jeunes à méditer, vous pouvez les aider à développer des compétences en
                            concentration et en focalisation,
                            ce qui peut être bénéfique pour leur réussite scolaire.
                        </p>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="article-container">
            <!-- Article 1 - Image à droite, texte à gauche -->
            <div class="article odd">
                <p>Découvrez la Méditation avec Méditéria<br>
                    <!-- Plongez dans un univers de calme et de sérénité avec une variété de techniques de méditation soigneusement
                        sélectionnées par Méditéria. Que vous soyez débutant ou méditant expérimenté, trouvez la méthode qui résonne
                        le mieux avec vous. -->
                        Dans un monde en perpétuel mouvement, la méditation est devenue un refuge pour beaucoup, offrant une échappatoire à
                        l'agitation quotidienne. Méditéria vous guide à travers cet univers apaisant avec une gamme variée de techniques de
                        méditation. Que vous cherchiez à vous initier à la pratique ou à approfondir vos connaissances, Méditéria est la
                        ressource par excellence. Explorez différentes méthodes, découvrez celle qui vous convient le mieux et embarquez pour un
                        voyage intérieur vers le calme et la sérénité.
                        
                        
                    </p>
                    <img src="/assets/launding2.jpg" alt="Description de l'image 1">
            </div>
        
            <!-- Article 2 - Image à gauche, texte à droite -->
            <div class="article even">
                <img src="/assets/creativite2.jpg" alt="Description de l'image 2">
                <p>Créez Votre Propre Méditation<br>
                    <!-- Chaque voyage est unique. Méditéria vous offre la plateforme pour créer et partager vos propres techniques
                    de méditation. Inspirez les autres et soyez inspiré en retour. -->
                    La beauté de la méditation réside dans sa capacité à être personnalisée. Méditéria reconnaît le pouvoir de
                    l'individualité et vous offre une plateforme pour exprimer et partager vos propres techniques de méditation. Partagez
                    votre sagesse, inspirez la communauté, et découvrez en retour des approches nouvelles et novatrices créées par d'autres
                    méditants passionnés comme vous. C'est un espace où chaque voix compte, où chaque expérience est précieuse.
                </p>
            </div>
        
            <!-- Article 3 - Image à droite, texte à gauche -->
            <div class="article odd">
                <p>Suivez Votre Progression<br>
                    <!-- Créez votre profil sur Méditéria pour garder une trace de votre parcours méditatif. Revoyez vos séances
                    passées, mesurez vos progrès et approfondissez votre pratique à votre rythme.-->
                        La progression est au cœur de tout apprentissage, et la méditation n'échappe pas à cette règle. Méditéria vous permet de
                        créer votre propre profil, un espace dédié pour suivre votre parcours méditatif. Visualisez vos séances, notez vos
                        impressions, mesurez vos progrès et définissez vos objectifs futurs. Avec Méditéria, votre pratique devient mesurable,
                        permettant ainsi une introspection plus profonde et un engagement renouvelé à chaque séance.
                </p> 
                <img src="/assets/equilibre.jpg" alt="Description de l'image 3">
            </div>
        </div>