<h3>Vous connecter</h3>



<form [formGroup]="connexionForm" (ngSubmit)="onSubmit()">
    <ul>
        <li>
            <label for="nom">Votre Email</label>
            <input type="email" id="form-control" formControlName="email" class="form-control" />
            <!-- <div *ngIf="erreurChamp.email" class="error-message">
                {{ erreurChamp.email }}
            </div> -->
        </li>

        <li>
            <label for="mot_de_passe">Votre mot de passe </label>
            <input type="password" id="mot_de_passe" formControlName="mdp" class="form-control" />
            <div id="passwordHelpBlock" class="form-text">
                Votre mot de passe doit contenir entre 8-20 caractères.
            </div>
            <!-- <div *ngIf="erreurChamp.mdp" class="error-message">
                {{ erreurChamp.mdp }}
            </div> -->

        </li>
    </ul>

    <div class="button">
        <button type="submit" class="btn"> Se connecter</button>
    </div>

</form>