
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.option{
    margin-bottom: 10px;
}

.btn{
    border: 2px solid var(--font-color);

}

textarea{
    width: 700px;
    height:200px;
}

h3{
    color:var(--titre-font-color);
    display: flex;
    justify-content: center;
}

label{
    margin-right: 10px;
}

li{
    list-style-type: none;
}

label{
    color:var(--titre-font-color);
    margin: 0px;
}

h5{
    color:var(--titre-font-color);
    margin-top: 20px;
}

.rep{
    font-weight: bolder;
}

button{
    color: var(--font-color);
}
button:hover{
    background-color: var(--font-color);
    color: white;
}

.ressentis{
    border: 1px solid var(--font-color);
    width: auto;
    border-radius: 30px;
}

*{
    background-color: var(--bgcolor);
}