/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&family=Roboto&family=Satisfy&display=swap');

:root {
  --font-color: #A8DF8E;
  --titre-font-color: #FFBFBF;
  --bgcolor: #FFE5E5;
  --dark-color: #668586;
}


